/*Cool image file - https://pixabay.com/en/colors-modern-contemporary-graphic-1512911/

Grey-lavendar Colors Color Palette
http://www.color-hex.com/color-palette/425

Colors in Palette
Hex	RGB
#d2d4dc	(210,212,220)
#afafaf	(175,175,175)
#f8f8fa	(248,248,250)
#e5e6eb	(229,230,235)
#c0c2ce	(192,194,206)

*/
/*color taken from gem image: #7B5A5A*/

body{
  margin: 40px auto; /* or 40px all around when in mobile mode*/
  height: 550px;
  width: 375px;
  background-image: url('Background_image.png');
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: space-around;
  /*background: #5A386A;*/
}

.device_wrapper{
  width: 90%;
  height: 90%;
}

.top_row, .rows{
  display: flex;
  justify-content: space-around;
}

button{
  /*background-color: #7B5A5A;*/
  background-color: rgba(123, 90, 90, 0.85);
  font-family: 'Raleway', sans-serif;
  font-size: large;
  height: 10vh;
  color: #E5DBD9;
  font-weight: 900;
  border: 3px solid #2F0075;
  border-radius: 5px;
  padding: 1vh 2vw 2vh;
  margin: 4px;
}

button:hover{
  background-color: rgba(123, 90, 90, 0.5);
  /*opacity: 0.5;*/
}


.rectangle{
  text-align: right;
  color: #2F0075;
  /*color: rgba(229, 219, 217, 0.85);*/
  background: #E5DBD9;
  background-color: rgba(229, 219, 217, 0.85);
  /*flex-grow: 3;*/
  width: 100%;
}

#backspace{
  flex-grow: 0.35;
  width: 2vw;
}

#memory{
  font-size: medium;
  padding: 1vh 1.1vw 2vh;
}


.display_text{
  font-size: medium;
  text-align: center;
}

.display_dim{
  background: rgb(218, 208, 219);
}


.last_row .square{
  width: 10vw;
  /*flex-grow: 0.2;*/
}

.square {
  /*height: 16vh;*/
  width: 12vw;
  flex-grow: 1;
}

.rows{
  display: flex;
  flex-direction: row;
  flex: auto;
}

.last_row{
  display: flex;
  flex-direction: row;
}

#equals{
  /*width: 22vw;*/
  font-size: x-large;
  width: 45%;
}
