/*Cool image file - https://pixabay.com/en/colors-modern-contemporary-graphic-1512911/

Grey-lavendar Colors Color Palette
http://www.color-hex.com/color-palette/425

Colors in Palette
Hex	RGB
#d2d4dc	(210,212,220)
#afafaf	(175,175,175)
#f8f8fa	(248,248,250)
#e5e6eb	(229,230,235)
#c0c2ce	(192,194,206)

*/



body{
  margin: 20px;
  height: 667px;
  width: 375px;
  background: #5A386A;
}

.device_wrapper{
  width: 100%;
  height: 100%;
}

.top_row, .rows{
  display: flex;
}

button{
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  border: 1px solid #2F0075;
  padding: 1vh 2vw 2vh;
  margin: 1px;
}


.rectangle{
  text-align: right;
  background: #F8F8FA;
  height: 16vh;
  width: 55vw;
}

.display_text{
  font-size: small;
  text-align: center;
}

.display_dim{
  background: #E5E6EB;
}


.square {
  height: 16vh;
  width: 18vw;
}

.rows{
  display: flex;
  flex-direction: row;
  flex: auto;
}
